<ul class="list-group mb-4">
    <li class="list-group-item">
        <a asp-controller="Tarea" asp-action="Create"><i class="bi bi-plus-circle-fill me-3"></i>Crear tareas</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Tarea" asp-action="GetByUsuario" asp-route-idUsuario="@Model"><i class="bi bi-list-task me-3"></i>Ver mis tareas</a>
    </li>
</ul>
