@{
    ViewData["Title"] = "Todods los Tableros";
}
@model List<TableroViewModel>

<div class="container">
        @await Component.InvokeAsync("TableroLista", new{
        tableros = Model,
        titulo = "Todos los tableros",
        claseCss = "mis-tableros mb-4"
    })
    <a asp-controller="Tablero" asp-action="Index" class="btn btn-secondary w-100 mt-2">Volver</a>
</div>



