@{
    ViewData["Title"] = "Todods los Tableros";
}
@model List<TableroViewModel>

<div class="container">
    <div class="row">
        @foreach (var tablero in Model)
        {
            <div class="col-md-4 mb-3"> <!-- Cada tarjeta ocupa 6 columnas en pantallas medianas o mayores -->
                <section class="card h-100" > <!-- Tarjeta más alta -->
                    <h5 class="card-header">#@tablero.Id_tablero - @tablero.Nombre</h5>
                    <section class="card-body d-flex flex-column">
                        <p class="card-text overflow-auto" style="max-height: 150px;">
                            @tablero.Descripcion
                        </p>
                        <a href="#" class="btn btn-primary mt-auto align-self-start">Go somewhere</a>
                    </section>
                </section>
            </div>
        }
    </div>
</div>



</section>