@{
    ViewData["Title"] = "Tableros";
}
@model ParticipacionTablerosViewModel

<div class="container">
    <!-- Sección de Tableros Propios -->
    @await Component.InvokeAsync("TableroLista", new{
        tableros = Model.Tablero_propio,
        titulo = "Mis Tableros",
        claseCss = "mis-tableros mb-4"
    })
    <!-- Sección de Tableros en los que Participa -->
    @await Component.InvokeAsync("TableroLista", new{
        tableros = Model.Tablero_participante,
        titulo = "Tableros en los que Participas",
        claseCss = "tableros-participante"
    })
</div>
