<div class="card shadow-lg border-0">
    <div class="card-header bg-primary text-white">
        <h4 class="mb-0">Gestión de Usuarios</h4>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a asp-controller="Usuario" asp-action="GetAll"><i class="me-3 bi bi-list-ul"></i> Ver lista completa de usuarios</a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Usuario" asp-action="Create"><i class="me-3 bi bi-person-plus-fill"></i>Crear un nuevo usuario</a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Usuario" asp-action="ListToEdit"><i class="me-3 bi bi-person-fill-gear"></i>Editar usuarios</a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Usuario" asp-action="UpdatePass"><i class="me-3 bi bi-key-fill"></i>Cambiar contraseña</a>
            </li>
        </ul>
    