<div class="card shadow-lg border-0">
    <div class="card-header bg-primary text-white">
        <h4 class="mb-0">Gestión de Usuario</h4>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a asp-controller="Usuario" asp-action="UpdatePass">Cambiar contraseña</a>
        </li>
    </ul>

