@{
    ViewData["Title"] = "Home Page";
    var loggeado = (bool)ViewData["Loggeado"];
    var rolUsuario = ViewData["rolUsuario"]?.ToString();
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<section class="conteiner">
    @await Component.InvokeAsync("Menu", new { loggeado, rolUsuario })
</section>
