@{
    ViewData["Title"] = "Home Page";
    var Loggeado = (bool)ViewData["Loggeado"];
    var rolUsuario = ViewData["rolUsuario"]?.ToString();
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<section class="conteiner">
    <ul>
        @if (Loggeado)
        {
            @if (rolUsuario == MisEnums.RolUsuario.Administrador.ToString())
            {
                <li class="list-group-item">
                    <a asp-controller="Usuario" asp-action="Index">Usuarios</a>
                </li>
            }
            else
            {
                <li class="list-group-item">
                    <a asp-controller="Usuario" asp-action="Index">Usuario</a>
                </li>
            }

            <li class="list-group-item">
                <a asp-controller="Tablero" asp-action="Index">Tableros</a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Tarea" asp-action="Index">Tareas</a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Sesion" asp-action="Logout">Cerrar Sesion</a>
            </li>
        }
        else
        {
            <li class="list-group-item">
                <a asp-controller="Sesion" asp-action="Index">Ingresar</a>
            </li>
        }
    </ul>
</section>
