<div class="container mt-5">
    <div class="card shadow-lg border-0">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex align-items-center">
                        <a asp-controller="Sesion" asp-action="Index" class="text-decoration-none text-dark">
                            <i class="bi bi-arrow-right-square me-3 text-primary"></i>
                            Ingresar
                        </a>
                </li>
            </ul>
        </div>
    </div>
</div>
