@{
    ViewData["Title"] = "Crear un Tarea";
}
@model Tarea
<section class="container">
    <h3>Crear un Usuario</h3>
    <form asp-controller="Tarea" asp-action="Create" method="post" enctype="multipart/form-data">
        <section class="d-flex flex-column">
            <section class="d-flex flex-column justify-content-start mb-2 col-6">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" class="form-control" asp-for="Nombre" />
                <span class="text-danger" asp-validation-for="Nombre"></span>
            </section>
            <section class="d-flex flex-column justify-content-start mb-2 col-6">
                <label for="descripcion">Descripción</label>
                <textarea id="descripcion" name="descripcion" class="form-control" asp-for="Descripcion"></textarea>
            </section>
            <section class="d-flex flex-column justify-content-start mb-2 col-6">
                <label for="color">Color</label>
                <input type="color" id="color" name="color" class="form-control" asp-for="Id_color" />
                @* en en viewmodel descripcion se debe guardar?
                se guardara el codigo de color, sera lo ideal? *@
            </section>





            <section class="d-flex justify-content-start mb-2">
                <button type="button" class="btn btn-secondary me-1">
                    <a asp-controller="Tarea" asp-action="Index" class="text-white text-decoration-none">Volver</a>
                </button>
                <button type="submit" class="btn btn-primary ms-1">CREAR</button>
            </section>

        </section>
    </form>

</section>