@{
    ViewData["Title"] = "Tableros y Tareas";
}
@model List<ListarTablerosUsuarioViewModel>

<section class="container mt-5">
    <h2 class="text-center mb-4">Mis Tareas</h2>
    @if (Model.Any())
    {
        @foreach (var tablero in Model)
        {
            @await Component.InvokeAsync("TareaListado", new { tareas = tablero })
        }
    }
    else
    {
        <p class="text-center text-muted">No tienes tareas.</p>
    }
    <a asp-controller="Tarea" asp-action="Index" class="btn btn-secondary mt-4 w-100">Volver</a>
</section>
