@{
    ViewData["Title"] = "Tableros y Tareas";
}
@model ListarTablerosUsuarioViewModel

<section class="container mt-5">
    <h2 class="text-center mb-4">Tareas del tablero: @Model.Nombre</h2>
    @await Component.InvokeAsync("TareaListado", new { tareas = Model })
    <a asp-controller="Tarea" asp-action="Index" class="btn btn-secondary mt-4 w-100">Volver</a>
</section>
