@{
    ViewData["Title"] = "Gestión de Tareas";
    var rol = ViewData["rolUsuario"].ToString();
}
<section class="container mt-5">
    <div class="card shadow-lg border-0">
        <div class="card-header bg-warning text-white">
            <h4 class="mb-0">Gestión de Tareas</h4>
        </div>
        <div class="card-body">
            @await Component.InvokeAsync("MenuTarea", new { rolUsuario = rol })
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary w-100 mt-2">Volver</a>
        </div>
    </div>
</section>
