@model TareaEditarEstadoViewModel

@if (Model.Tarea.Id_usuario_asignado == Model.IdUsuarioLogueado)
{
    <button type="button" class="btn btn-primary d-flex align-items-center" data-bs-toggle="modal"
        data-bs-target="#editTareaModal_@Model.Tarea.Id_tarea">
        <i class="bi bi-pencil"></i>
        <span class="d-none d-lg-inline">Editar</span>
    </button>
    <!-- Modal para editar Estado -->
    @await Component.InvokeAsync("ModalEstado", new { idTarea = Model.Tarea.Id_tarea, idUsuario = Model.Tarea.Id_usuario_asignado, nombre = Model.Tarea.Nombre, descripcion = Model.Tarea.Descripcion })
}