@model TareaReasignarViewModel
@if (Model.EsPropietario == true)
{
    <button type="button" class="btn btn-danger d-flex align-items-center" data-bs-toggle="modal"
        data-bs-target="#reasignarTareaModal_@Model.Tarea.Id_tarea">
        <i class="bi bi-person"></i><i class="bi bi-arrow-left-right"></i>
        <span class="d-none d-lg-inline">Reasignar</span>
    </button>
    <!-- Modal para reasignar usuario -->
    @await Component.InvokeAsync("ModalReasignar", new {idTarea = Model.Tarea.Id_tarea , usuarios = Model.Usuarios})
}