html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#main-container{
  max-width: 100vw;
}

.tabla_tableros {
  border-collapse: collapse;
  /* border-radius: 5px !important; */
  overflow: hidden;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

#formulario_login{
  display: flex;
  justify-content: end;
  align-items: center;
}

#formulario_login form{
  height: 50vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10vh;
}
#formulario_login fieldset{
  border: dashed 1px black;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
#formulario_login form #primer_sec{
  display: flex;
  flex-direction: column;
}
button a, li a{
  text-decoration: none;
  list-style: none;
  color: inherit;
}

#formulario_login .form-control {
  margin-bottom: 0.5rem; /* Reduce el espacio entre inputs */
}

#formulario_login .text-danger {
  min-height: 1rem; /* Espacio más compacto reservado para mensajes */
  display: block; /* Ocupa espacio aunque esté vacío */
  font-size: 0.8rem; /* Tamaño más pequeño para los mensajes */
  line-height: 1rem; /* Consistencia con el espacio reservado */
  margin-top: 0.2rem; /* Espaciado pequeño entre el input y el mensaje */
  color: red; /* Color de los mensajes */
}

.seccion-tableros .card {
  height: 150px; /* Altura mínima de la tarjeta */
}

.seccion-tableros .card-text {
  height: 100px; /* Altura máxima del texto con overflow */
  overflow-y: auto;  /* Habilita desplazamiento vertical */
}

.seccion-tableros .card-body {
  display: flex;
  flex-direction: column; /* Organiza los elementos en columna */
}

.seccion-tableros .card-body .btn {
  margin-top: auto; /* Empuja el botón hacia abajo */
  align-self: start; /* Alinea el botón al inicio horizontalmente */
}

.seccion-tableros {
  min-height: 50vh;
  /* Ocupa al menos la mitad de la pantalla */
  padding: 20px;
  border-radius: 10px;
  /* Bordes redondeados */
}

.mis-tableros {
  background-color: #A8D5E2;
  /* Pastel Azul */
}

.tableros-participante {
  background-color: #F9C0C0;
  /* Pastel Rosa */
}

/* tablero */
.tablero-kanban .card{
  height: 200px;
  width: 300px;
}
.tablero-kanban .columnas{
  min-height: 80vh;
  border-right: 0.5px solid black;
}

.tablero-kanban .card-text{
  height: 75px;
}

.tablero-kanban .card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
}