@{
    ViewData["Title"] = "Eliminar un Usuario";
    var ocupado = (bool)ViewData["conTareas"];
}
@model UsuarioViewModel;

<section class="container">
    <h2>¿Está seguro que desea eliminar el siguiente usuario?</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Rol</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Id_usuario</td>
                <td>@Model.Nombre</td>
                <td>@Model.Rol</td>
            </tr>
        </tbody>
    </table>

    <form asp-action="DeleteConfirmed" method="post">
        <a asp-controller="Usuario" asp-action="ListToEdit" class="btn btn-secondary">CANCELAR</a>
        <input type="hidden" name="idUsuario" value="@Model.Id_usuario" />
        @if (ocupado)
        {
            <button type="submit" class="btn btn-danger" disabled>ELIMINAR</button>
            <spam>Este usuario no se puede eliminar</spam>
        }
        else
        {
            <button type="submit" class="btn btn-danger">ELIMINAR</button>
        }
    </form>
</section>
