@{
    ViewData["Title"] = "Todos los Usuarios";
}
@model List<UsuarioViewModel>;

<section class="container">
    <table class="table table-bordered table-hover tabla_tableros">
        <thead>
            <tr class="table-dark">
                <th scope="col" class="col-1">Id</th>
                <th scope="col" class="col-3">Nombre</th>
                <th scope="col" class="col-3">Rol</th>
            </tr>
        </thead>
        <tbody>
            @foreach (UsuarioViewModel usuario in Model)
            {
                <tr>
                    <td scope="col" class="col-1">@usuario.Id</td>
                    <td scope="col" class="col-3">@usuario.Nombre</td>
                    <td scope="col" class="col-3">@usuario.Rol</td>
                </tr>
            }

        </tbody>
    </table>
    <a href="@Url.Action("Index", "Usuario")" class="btn btn-secondary mt-4 text-white">Volver</a>

</section>