@{
    ViewData["Title"] = "Gestión de Usuarios";
    var rolUsuario = ViewData["rolUsuario"]?.ToString();
}

<section class="container mt-5">
    <div class="card shadow p-4">
        @await Component.InvokeAsync("MenuUsuario", new { rolUsuario = rolUsuario })
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary w-100">Volver</a>
    </div>
</section>
