@{
    ViewData["Title"] = "Gestión de Usuarios";
    var rolUsuario = ViewData["rolUsuario"]?.ToString();
}

<section class="container mt-5">
            @await Component.InvokeAsync("MenuUsuario", new { rolUsuario = rolUsuario })
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary w-100 mt-2">Volver</a>
        </div>
    </div>
</section>