@{
    ViewData["Title"] = "Cambiar contraseña";
}
@model UsuarioPasswordViewModel

<section class="container mt-4">
        <h2 class="text-center mb-4">Cambiar Contraseña</h2>
    <div class="card shadow">

        <div class="card-body">
            <form asp-controller="Usuario" asp-action="UpdatePass" method="post" enctype="multipart/form-data">
                <div class="d-flex flex-column justify-content-start mb-2 col-6">
                    <!-- Contraseña Actual -->
                    <div class="col-md-6 mb-3">
                        <label for="password" class="form-label fw-bold">Contraseña Actual</label>
                        <input type="password" id="password" name="Password" class="form-control" asp-for="Password" />
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>

                    <!-- Nueva Contraseña -->
                    <div class="col-md-6 mb-3">
                        <label for="newPassword" class="form-label fw-bold">Nueva Contraseña</label>
                        <input type="password" id="newPassword" name="NewPassword" class="form-control" asp-for="NewPassword" />
                        <span class="text-danger" asp-validation-for="NewPassword"></span>
                    </div>

                    <!-- Confirmar Nueva Contraseña -->
                    <div class="col-md-6 mb-3">
                        <label for="passwordConfirm" class="form-label fw-bold">Repetir Nueva Contraseña</label>
                        <input type="password" id="passwordConfirm" name="PasswordConfirm" class="form-control" asp-for="PasswordConfirm" />
                        <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
                    </div>
                </div>

                <!-- Botones de acción -->
                <div class="d-flex gap-2 mt-3">
                    <button type="submit" class="btn btn-primary">Cambiar</button>
                    <a asp-controller="Usuario" asp-action="Index" class="btn btn-secondary">Volver</a>
                </div>
            </form>
        </div>
    </div>
</section>


@if (ViewData["ErrorMessage"] != null)
{
    <div class="modal fade show" tabindex="-1" style="display: block; background-color: rgba(0, 0, 0, 0.5);"
        id="errorModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Error</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>@ViewData["ErrorMessage"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="closeModal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <script>

        // Cerrar el modal al hacer clic en el botón "Aceptar"
        document.getElementById("closeModal").addEventListener("click", function () {
            window.location.href = '@Url.Action("UpdatePass", "Usuario")';
        });

        // Auto-cerrar después de 3 segundos
        setTimeout(function () {
            window.location.href = '@Url.Action("UpdatePass", "Usuario")';
        }, 3000);
    </script>
}
